---
import Layout from "../layouts/Layout.astro";
import Seccion from "../components/seccion.astro";

const seccion=[
    {
        title:"Alojamiento",
        body:"Contactate con nosotros para publicar tu emprendimiento inmobiliario.",
    }
]

---

<Layout title="Ubicación" description="¿Cómo llegar?">
    <div class="container">
      {seccion.map((item) => <Seccion {...item} />)}
    </div>
</Layout>  