

<hr class="w-full border-t-2 var(--gris)">
<footer class="container" aria-labelledby="footer-heading">    
  <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="logos">
        <a href="" aria-label="Enlace a la página principal" >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.a{fill:#fff;}.b{fill:#494949;fill-rule:evenodd;}</style></defs><g transform="translate(0)"><rect class="a" width="50" height="50" transform="translate(0 0)"/><path class="b" d="M15.979,2.841a48.994,48.994,0,0,1,6.391.178,8.235,8.235,0,0,1,3.018.533,6.235,6.235,0,0,1,3.018,3.018,8.235,8.235,0,0,1,.533,3.018c0,1.6.178,2.13.178,6.391a48.994,48.994,0,0,1-.178,6.391,8.235,8.235,0,0,1-.533,3.018,6.235,6.235,0,0,1-3.018,3.018,8.235,8.235,0,0,1-3.018.533c-1.6,0-2.13.178-6.391.178a48.994,48.994,0,0,1-6.391-.178,8.235,8.235,0,0,1-3.018-.533,6.235,6.235,0,0,1-3.018-3.018,8.235,8.235,0,0,1-.533-3.018c0-1.6-.178-2.13-.178-6.391a48.994,48.994,0,0,1,.178-6.391,8.235,8.235,0,0,1,.533-3.018A6.376,6.376,0,0,1,4.794,4.794,3,3,0,0,1,6.569,3.551a8.235,8.235,0,0,1,3.018-.533,48.994,48.994,0,0,1,6.391-.178m0-2.841A52.458,52.458,0,0,0,9.41.178,10.961,10.961,0,0,0,5.5.888,6.95,6.95,0,0,0,2.663,2.663,6.95,6.95,0,0,0,.888,5.5,8.089,8.089,0,0,0,.178,9.41,52.458,52.458,0,0,0,0,15.979a52.458,52.458,0,0,0,.178,6.569,10.961,10.961,0,0,0,.71,3.906,6.95,6.95,0,0,0,1.775,2.841A6.95,6.95,0,0,0,5.5,31.07a10.961,10.961,0,0,0,3.906.71,52.458,52.458,0,0,0,6.569.178,52.458,52.458,0,0,0,6.569-.178,10.961,10.961,0,0,0,3.906-.71,7.449,7.449,0,0,0,4.616-4.616,10.961,10.961,0,0,0,.71-3.906c0-1.775.178-2.308.178-6.569A52.458,52.458,0,0,0,31.78,9.41,10.961,10.961,0,0,0,31.07,5.5a6.95,6.95,0,0,0-1.775-2.841A6.95,6.95,0,0,0,26.454.888a10.961,10.961,0,0,0-3.906-.71A52.458,52.458,0,0,0,15.979,0m0,7.812a8.035,8.035,0,0,0-8.167,8.167,8.167,8.167,0,1,0,8.167-8.167m0,13.493a5.231,5.231,0,0,1-5.326-5.326,5.231,5.231,0,0,1,5.326-5.326A5.231,5.231,0,0,1,21.3,15.979,5.231,5.231,0,0,1,15.979,21.3M24.5,5.5a1.953,1.953,0,1,0,1.953,1.953A1.97,1.97,0,0,0,24.5,5.5" transform="translate(8.571 8.571)"/></g></svg>
        </a>
        <a href="" aria-label="Enlace a la página principal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.a{fill:#fff;}.b{fill:#494949;}</style></defs><g transform="translate(0)"><g transform="translate(0 0)"><rect class="a" width="50" height="50"/></g><path class="b" d="M19.112,39.186V24.27H14.286V17.69h4.826V15.113c0-4.442,3.345-8.39,7.4-8.39h5.319V13.3H26.515c-.6,0-1.261.713-1.261,1.755V17.69h6.58v6.58h-6.58V39.186Z" transform="translate(1.428 1.849)"/></g></svg>
        </a>
    </div>
  <div class="container2">  
    <div class="reta">
        <h3>Reta, Tres Arroyos, Buenos Aires, Argentina</h3>
      <h3> Contacto: <a class="mail" href="mailto: mapp81dev@gmail.com" aria-label="Enviar un correo a mapp81dev@gmail.com">mapp81dev@gmail.com </a></h3>
      
    </div>
  </div>
</footer>

<style>

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


    .container{
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 100%;
      height: auto;
    }

    .logos{
      margin-top: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      height: auto;
      max-width: 100%;
      
    }

    a svg{
      width: 50px;
      margin-bottom: 24px;
    }
    
    .container2{
      
      max-width: 100%;
      height: auto;
      display: flex;
      align-content: center;
      align-items: center;

         }

    .reta{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;      
    }
    .reta h3{
     margin-bottom: 20px;
     
    }

h3, p{
 font-weight: 500;
 font-size: 12px;
  line-height: 1.5;
  color: var(--primario);
  font-family: "roboto", sans-serif;
  letter-spacing: 2px;
  line-height: 1.5;
}

.mail:hover{
  text-decoration: underline;
  color: var(--gris);
}

</style>
